body {
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Titillium Web", sans-serif;
    width: 16%;
    border-radius: 30%;
}

ul {
    margin: 0px;
}

body > header {
    background-color: #9baec8;
    color: #282c37;
    display: flex
    width: 10vw;
    height: 16vh
    align-items: center;
    justify-content:space-around;
}

#nav-ul{
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}
body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: lightblue;
    text-decoration: none;
    padding: 12px;
    border: 1px solid lightblue;
    border-radius: 10%;
}

body > main article {
    width: 60%;
    margin: auto;
}

#main-content{
    display: flex;
    justify-content: flex-end;
}

#main-content > div{
    width: 70%;
    justify-content: space-around;
}

form {
    text-align: center;
}

h2 {}

body > footer{
    background-color: #9baec8;
    display: flex;
}


#footer-ul{
    display: flex;
    list-style: none;
}

#footer-ul > div > li{
    margin-left: 12px;
}

#footer-ul > div > li > a{
    text-decoration: none;
    color: white;
}